{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
{% load font_awesome %}
<html>  
<head>
  <script src="https://use.fontawesome.com/7b57ad73ac.js" ></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuYw-pkBIqOjIJRawqBzxRTTmlQ8K4Ixo&v=3.exp&libraries=geometry,drawing,places"></script> 
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Mbeet</title>
</head>

<body>
  <div id="root">
  </div>
  {% render_bundle 'main' %}
</body>

</html>